.news{


     background-image: 
    
        url("../../assets/media-banner.jpg");
    
      background-repeat: no-repeat;
      background-size: cover;
    
      
      
     min-height: 300px;
     color: #fff;
     background-position: 50% 50%;
     /* background-size: cover; */
      /* background-position: center; */
      background-attachment: fixed;
    }
    /* banner-area {
     position: relative;
     min-height: 300px;
     color: #fff;
     background-position: 50% 50%;
     background-size: cover;
   } */