.news {
  background-image: url("../../assets/media-banner.jpg");

  /* background-repeat: no-repeat;
      background-size: cover;
    
      
      
     min-height: 300px;
     color: #fff;
     background-position: 50% 50%;
   
      background-position: center;
      background-attachment: fixed;
      position: relative; */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  min-height: 300px;
  background-position: center;
  background-position: 50% 50%;
   
}
/* banner-area {
     position: relative;
     min-height: 300px;
     color: #fff;
     background-position: 50% 50%;
     background-size: cover;
   } */
