.carrer{


  background-image: 

  linear-gradient(
         to right,
         rgba(243, 238, 234, 0),
         rgba(248, 251, 251, 0)
       ),
     url("../../assets/carreer4.png");
 
   background-repeat: no-repeat;
   background-size: cover;
 
   
   
  min-height: 300px;
  color: #fff;
  background-position: 50% 50%;
  background-size: cover;
   background-position: center;
   background-attachment: fixed;
 }